
div.bgimg {
    background-image: url("../colorimage.png");
    width: 100%;
    height: 40%;
   
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .gameName
    {
    font-size: 40px;
    font-weight: bold;
    color:blueviolet;
  }
  #gameMessage {
    font-size: 16px;
    justify-content: center;
    text-align: center;
    white-space: pre-wrap;
    color: rgb(43, 0, 255);
  }
  .container {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 25%;
    left: 36%;
  }
  body {
    overflow: hidden;
    color: rgb(185, 239, 226);
    text-align: center;
    position: fixed;
  }
  #gameBtn {
    
    justify-content: center;
    text-align: center;
    white-space: pre-wrap;
  }
  #main {
    
    flex-direction: cloumn;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
    margin-bottom: 2em;
    padding: 2em;
    max-width: 50vw;
    overflow: hidden;
  }
 
  .title {
    text-align: center;
  }

  div {
    border:0px solid black;
  }

  /*class name .hidden for play game button*/
  .hidden {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: 800;
    cursor: pointer;
    transform: perspective(1px) translateZ(0px);
    transition-duration: 0.2s;
    background-color: rgb(104, 66, 255);
    -webkit-box-align: center;
    align-items: center;
   
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    border-radius: 80px;
    padding: 14px 30px;
    gap: 5px;
  }
  
  button:active {
    background-color: yellow;
  }
  
  /*footer*/
  
 #footer {
    
    color: rgb(125, 63, 18);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 2em;
    padding: 10px;
    font-size: 18px;
  }
  
  .fa-github,

  .fa-linkedin {
    color: blueviolet;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover,
  .fa-linkedin:hover {
    transform: rotateY(360deg) scale(1.4);
    color: greenyellow;
  }
  
  .fa-heart{
    color: rgb(226, 43, 46);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  .fa-heart:hover {
    transform: scale(1.3);
    color: red;
  }
  /*footer support*/
  html {
    position: relative;
    min-height: 100vh;
  }
  
  /* media queries */
  @media (max-width: 850px) {
    #footer > p {
      display: none;
    }
  }
  